<div class="chat" *ngIf="masseges">
    <div class="chat__masseges">
        <cdk-virtual-scroll-viewport itemSize="15" class="chat__scroller" #virtualScroll>
            <div *cdkVirtualFor="let massege of masseges" class="chat__massege"> {{massege.body}}</div>
          </cdk-virtual-scroll-viewport>
    </div>
    <div class="chat__form">
        <input type="text" #newMassege>
        <button type="button" (click)="sendMassege(newMassege.value, newMassege)"
            (keypress.enter)="sendMassege(newMassege.value, newMassege)">Send</button>
    </div>
</div>