.header {

    &_spacer {
        flex: 1 1 auto;
    }

    &__chat{
        text-decoration: none;
        color: #fff;
        margin: 10px;
        font-size: medium;
    }
}

.mat-toolbar.mat-primary {
    background-color: palevioletred !important;
}

.google-button.dark {
    background-color: palevioletred !important;
    border: 1px solid palevioletred !important;
    color: #fff;
}